<mat-card>
  <mat-card-title>Adicionar Brinquedo</mat-card-title>
  <form>
      <mat-form-field>
          <input matInput placeholder="Nome"
              [(ngModel)]="payment.nome" name="nome">
      </mat-form-field>
      <mat-form-field>
          <input matInput placeholder="Valor (R$)"
              [(ngModel)]="payment.numero" name="numero">
      </mat-form-field>
      <!--<mat-form-field>
        <input matInput placeholder="Validade"
            [(ngModel)]="payment.validade" name="validade">
    </mat-form-field>-->
    <mat-form-field>
        <input matInput placeholder="Código"
            [(ngModel)]="payment.codigo" name="codigo">
    </mat-form-field>
  </form>
  <button mat-raised-button (click)="createPayment()" class="save">
      Salvar
  </button>
  
  <button mat-raised-button (click)="cancel()" class="cancel">
      Cancelar
  </button>
</mat-card>